#tariffications-list.panel.panel-primary
  .panel-heading ТАРИФІКАЦІЯ
  .panel-body
    .h2
      = @teacher.profile.first_name @teacher.profile.last_name
    %table.table.table-hover
      %thead
        %tr
          %th.col-md-4 Назва курсу
          %th.col-md-4 Навчальний рік
          %th.col-md-1 Клас
          %th.col-md-1 Години
          %th.col-md-1 
          %th.col-md-1 
      %tbody
        = render @tariffications
    .form-group
       = form_for [:admin, @tariffication], url: admin_import_tariffications_path() do |f|
         .form-group      
           .row
             .col-md-2
               %label.btn.btn-primary.btn-block
                 %i.glyphicon.glyphicon-search
                 Browse 
                 = f.file_field :school_data, style: "display: none" 
             .col-md-1  
               = f.submit "Імпорт", disabled: true, class: "btn btn-warning btn-block"
